/* Reset de estilos padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    color: white;
    background: hsla(177, 87%, 79%, 1);
    background: linear-gradient(90deg, hsla(177, 87%, 79%, 1) 0%, hsla(235, 89%, 70%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(177, 87%, 79%, 1) 0%, hsla(235, 89%, 70%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(177, 87%, 79%, 1) 0%, hsla(235, 89%, 70%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9BF8F4", endColorstr="#6F7BF7", GradientType=1 );
}

/* Estilos para a área de login */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos para o formulário de login */
.form {
    background-color: #338481;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para os campos de entrada de texto */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilos para o botão de entrada */
button {
    width: 100%;
    padding: 10px;
    background-color: #6F7BF7;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0917AE;
}

/* Estilos para a mensagem de cadastro */
.mensagem {
    text-align: center;
    margin-top: 10px;
}

.mensagem a {
    color: #0A1370;
    text-decoration: none;
}

.mensagem a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}